@using GP.Application.CategoryQueries
@inject GP.DataAccess.Repository.CategoryRepository.ICategoryRepository categoryRepository

@{
    var categories = categoryRepository.GetAll();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blog site</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/detail.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container d-flex justify-content-between">
                <a class="navbar-brand text-primary" href="/">Blog site</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="d-flex justify-content-end">
                    @if (categories.Count() != 0)
                    {
                        <ul class="navbar-nav flex-grow-1">
                            @foreach (var category in categories)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-primary" asp-area="Home" asp-controller="Blog" asp-action="Index">@category.Title</a>
                                </li>
                            }
                        </ul>
                    }
                </div>
                @* Login *@
                @if (!User.Identity.IsAuthenticated)
                {
                    <div>
                        <a asp-area="Account" asp-controller="Account" asp-action="Login" class="btn btn-primary">Daxil Ol</a>
                        <a asp-area="Account" asp-controller="Account" asp-action="Register" class="btn btn-outline-primary">Qeydiyyat</a>
                    </div>
                }
                else
                {
                    <div class="dropdown text-end">
                        <a class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu text-small" style="left: -100px !important;" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-area="Account" asp-controller="Account" asp-action="Logout">Sign out</a></li>
                        </ul>
                    </div>
                }
                @* End of Login *@
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
